<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-color-black" id="custom-bootstrap-menu">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">JMetal Analysis</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#" id="btn-project-new">New Project</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" id="btn-project-edit">Edit</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" id="btn-project-remove">Remove</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" id="input-search" class="form-control" placeholder="Search" />
				</div>
			</form>
		</div>
	</div>
</nav>