<script src="/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
<script src="/js/vendor/bootstrap-select.min.js"></script>
<script src="/js/vendor/jquery.tablesorter.min.js"></script>
<script src="/js/app/MessageBox.js"></script>
<script src="/js/app/PostRequest.js"></script>
<script src="/js/app/FlashMessage.js"></script>
<script src="/js/app/jquery-plugin-table.js"></script>
<script src="/js/script.js"></script>